body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}
.conteudo {
    max-width: 600px; /* Define uma largura máxima */
    margin: auto; /* Centraliza o container */
    padding: 10px;
    border: 1px solid #ccc;
}
header {
  background-color: #4682b4;
  color: white;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}
header input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}
main {
  padding: 20px;
}
section {
  margin-bottom: 40px;
  padding: 20px;
  background: #e6f2ff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: #4682b4;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
