/* Estilo geral do corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Estilo para o cabeçalho da página */
header {
  background-color: #4682b4;
  color: white;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Estilo para o campo de entrada no cabeçalho */
header input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

/* Estilo para a área principal da página */
main {
  padding: 20px;
}

/* Estilo para seções dentro da página */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
  background: #e6f2ff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilo para todos os DIVs */
div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  /* Certifica-se de que o contêiner ocupe toda a largura disponível */
}

/* Estilo para todos os SVGs */
svg {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Estilo para o rodapé da página */
footer {
  background-color: #4682b4;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilo para links */
a {
  text-decoration: none;
  font-weight: bold;
}

/* Estilo para links ao passar o mouse */
a:hover {
  text-decoration: underline;
}

/* Define o tamanho da fonte para os cabeçalhos */
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: #0000EE;
  text-decoration: none;
}

/* Regras de mídia para dispositivos com largura de tela até 768 pixels */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }
}

/* Regras de mídia para dispositivos com largura de tela até 480 pixels */
@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }
}
